body#lvl1{
    background-color: lightgreen;
    font-family:"Comic Sans MS", cursive, sans-serif;    
}
body#lvl2{
 background-color: lightblue;
}
body#lvl3{
 background-color: crimson;
}
form#first{
}
form#second{
}
form#third{
}
form#fourth{
}
form#fifth{
}
form#sixth{
}
form#seventh{
}
form#eigth{
}

